* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 10px;
    display: grid;
    grid-template-rows: 10rem 1fr;
    grid-template-columns: 30rem 1fr;
    grid-template-areas: 
        'b c'
        'e .';
}

.createbudget {
    grid-area: b;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.textbox,
.createbudgetbutton {
    
}

.expense {
    grid-area: e;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.calculationarea {
    grid-area: c;
}